
img{
  width: 20%;
}
body{
  margin:0px;
}
header{
  margin: 0px;
  border-width: 0.1px;
  background-color:#273854;
}
.headerbox{
display: flex;
}
HR{
  margin: 0px;
}
/* footer{

  margin: 0px;
  height: 5%;
  border-width: 0.1px;
    background-color:#273854;
    color:#FFFFFD;
} */
h2{
  color: white;
  padding:20px;
  margin: 0px;
}
i{
  font: 5px;
}
footer{
  background: #273854;
 width: 100%;
}
main{
  height: 80%;
  width: 100%;
  margin: 0px;
  border-width: 0.1px;

}
.fullcont{
  display: flex;
}

.main-container{
  width: 100%;
}
.left-container{
   display: flex;
    width: 75%;
    height: 100%;
    flex-direction: column;
}
.right-container{
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 25%;
}
.cols{
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 30%;
}
#btnsubscribe{
  background-color: #242424;
  color:	#FFFFFD;
}
card{
  display: inline-block;

}
.col-picture{
  margin-top: 16px;
  margin-left: 32px;
  width: 16%;
}
.col-content{
    width: 75%;
    margin-top: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 22px;
  /* padding-bottom: 0px; */
}
#ddlnewschannel{
  width: 50%;
}
h4,h6,p{
  padding: 0px;
  margin: 0px;
}
#btn{
  background-color: #C75D48
}
.box{
  display:flex;
  height:25%;
  margin: 10px;
}

.vertical{
  display: flex;
  flex-direction: column;
  padding-left: 15px;

}
.metadisc{
  /* margin-top: 10px; */
}

.btncontinue{
  margin-top: auto;
  width:20%
}
p{
  overflow: hidden;
text-overflow: ellipsis;
}
